/* .img img {
    width: 440px;
} */
/* div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
} */
.img {
  margin: auto;
  display: block;
  position: absolute;
  z-index: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  
  opacity: 0;
  animation: appearimg 0.2s linear forwards;
  animation-delay: 0.4s;
}

.img:after {
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #272727;
  position: absolute;
  animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 0s;
}
@keyframes rev-img {
  0% {
        left: 0;
        width: 0%;
  }
  50% {
        width: 440px;
        left: 0;
  }
  100% {
        left: 440px;
        width: 0;
  }
}

@keyframes appearimg {
  0% {
        opacity: 0;
  }
  100% {
        opacity: 1;
  }
}