@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/**************************************** General ****************************************/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
body {
    background: #dfdbdb;
}
div {
    text-align: center;
}

/**************************************** Welcome Page ****************************************/
.temp {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(assets/temp.gif) no-repeat 50% 50%;
    background-size: cover;
    animation: fadeOut 5s linear forwards;
    opacity: 1;
}
.first-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #272727;
    animation: go-left 4s cubic-bezier(.74, .06, .4, .92) forwards;
    left: 0;
}
.second-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #B08D74;
    animation: go-left 3.2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 3s;
}
.temp-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #dfdbdb;
    animation: go-left 3.2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 4.64s;
    z-index: 1;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.loader ul li {
    display: inline-block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0 7px;
    font-size: 40px;
    text-transform: uppercase;
    animation: loadNow 3.8s ease-in-out forwards;
    opacity: 0;
    transform: translateX(0px);
    z-index: 0;
}
.loader ul li.row1:nth-child(1) {
    animation-delay: 1.1s;
}
.loader ul li.row1:nth-child(2) {
    animation-delay: 1.2s;
}
.loader ul li.row1:nth-child(3) {
    animation-delay: 1.3s;
}
.loader ul li.row1:nth-child(4) {
    animation-delay: 1.4s;
}
.loader ul li.row1:nth-child(5) {
    animation-delay: 1.5s;
}
.loader ul li.row1:nth-child(6) {
    animation-delay: 1.6s;
}
.loader ul li.row2:nth-child(1) {
    animation-delay: 1.8s;
}
.loader ul li.row2:nth-child(2) {
    animation-delay: 1.9s;
}
.loader ul li.row2:nth-child(3) {
    animation-delay: 2.0s;
}
.loader ul li.row2:nth-child(4) {
    animation-delay: 2.1s;
}
.loader ul li.row2:nth-child(5) {
    animation-delay: 2.2s;
}
.loader ul li.row2:nth-child(6) {
    animation-delay: 2.3s;
}
.loader ul li.row2:nth-child(7) {
    animation-delay: 2.4s;
}
.loader ul li.row3:nth-child(1) {
    animation-delay: 2.6s;
}
.loader ul li.row3:nth-child(2) {
    animation-delay: 2.7s;
}
.loader ul li.row3:nth-child(3) {
    animation-delay: 2.8s;
}
.loader ul li.row3:nth-child(4) {
    animation-delay: 2.9s;
}
.loader ul li.row3:nth-child(5) {
    animation-delay: 3.0s;
}
.loader ul li.row3:nth-child(6) {
    animation-delay: 3.1s;
}
.loader ul li.row3:nth-child(7) {
    animation-delay: 3.2s;
}
.loaderafter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    /* border-style: solid; */
}
.loaderafter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.loaderafter ul li {
    display: inline-block;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0 7px;
    font-size: 40px;
    text-transform: uppercase;
    animation: loadNowNew 3.8s linear forwards;
    opacity: 0;
    transform: translateX(0px);
}
.loaderafter ul li.row1:nth-child(1) {
    animation-delay: 5.3s;
}
.loaderafter ul li.row1:nth-child(2) {
    animation-delay: 5.3s;
}
.loaderafter ul li.row1:nth-child(3) {
    animation-delay: 5.3s;
}
.loaderafter ul li.row1:nth-child(4) {
    animation-delay: 5.3s;
}
.loaderafter ul li.row1:nth-child(5) {
    animation-delay: 5.3s;
}
.loaderafter ul li.row1:nth-child(6) {
    animation-delay: 5.3s;
}
.loaderafter ul li.row2:nth-child(1) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row2:nth-child(2) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row2:nth-child(3) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row2:nth-child(4) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row2:nth-child(5) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row2:nth-child(6) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row2:nth-child(7) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(1) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(2) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(3) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(4) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(5) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(6) {
    animation-delay: 5.4s;
}
.loaderafter ul li.row3:nth-child(7) {
    animation-delay: 5.4s;
}
.third-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #dfdbdb;
    /* animation: loadThirdBlock 0.1s linear forwards; */
    /* animation-delay: 5.8s; */
    z-index: 1;
}
.border{
    position: absolute;
    top: 43.05%;
    left: 23.45%;
    padding: 60px 500px;
    border: 6px solid #111;
    z-index: 3;
}
.border:before{
    content:'';
    position:absolute;
    top:18px;
    left:-6px;
    width:calc(100% + 13px);
    height:calc(100% - 36px);
    background: #dfdbdb;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay:0.5s;
}
.border:hover:before{
    transform: scaleY(0);
}
.border:after{
    content:'';
    position: absolute;
    left:18px;
    top:-6px;
    height: calc(100% + 12px);
    width: calc(100% - 36px);
    background: #dfdbdb;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}
.border:hover:after{
    transform: scaleX(0);
}
.border span{
    position: relative;
    z-index:1;
}
@keyframes fadeOut {
    0% {
          opacity: 0;
    }
    40% {
          opacity: 0;
    }
    41% {
          opacity: 1;
    }
    91% {
          opacity: 1;
    }
    92% {
          opacity: 0;
    }
    100% {
          opacity: 0;
    }
}
@keyframes go-left {
    0% {
          left: 0;
          width: 0%;
    }
    50% {
          left: 0;
          width: 100%;
    }
    100% {
          left: 100%;
          width: 0;
    }
}
@keyframes loadNow {
    0% {
          opacity: 0;
          transform: translateX(80px);
    }
    20% {
          opacity: 1;
          transform: translateX(0px);
    }
    60% {
          opacity: 1;
          transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes loadNowNew {
    0% {
          opacity: 0;
          /* transform: translateX(80px); */
    }
    20% {
          opacity: 1;
          transform: translateX(0px);
    }
    60% {
          opacity: 1;
          transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* @keyframes loadThirdBlock {
    0% {
          opacity: 1;
          transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(40px);
    }
} */
@keyframes slideIn {
    0% {
        left: 0;
        width: 0%;
    }
    100% {
            left: 0;
            width: 100%;
    }
}

/**************************************** Media Buttons ****************************************/
a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    transform: scale(1.1); 
}
.media1 {
    position: fixed;
    bottom: 4%;
    right: 1.45%;
    z-index: 3;
}
.media2 {
    position: fixed;
    bottom: 11%;
    right: 1.45%;
    z-index: 3;
}
.media3 {
    position: fixed;
    bottom: 18%;
    right: 1.45%;
    z-index: 3;
}
.media4 {
    position: fixed;
    bottom: 25%;
    right: 1.45%;
    z-index: 3;
}
.media1:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}
.media2:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}
.media3:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}
.media4:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}

/**************************************** Page Navigation Menu ****************************************/
.wrapper {
    width: 500px;
    margin: 0 auto;
    position: fixed;
    right: -260px;
    margin-top: 1%;
    z-index: 2;
}
.wrapper ul {
    list-style: none;
}
.wrapper ul li {
    background: none;
    width: 50px;
    right: -125px;
    padding: 5px;
    border: 0px solid #fff;
    height: 30px;
    top: -3px;
    line-height: 40px;
    text-align: center;
    float: left;
    color: black;
    font-size: 14px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.wrapper ul li li {
    top: -13px;
    right: 45px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.wrapper ul li:hover {
    background: lightgrey;
}
.wrapper ul ul {
    display: none;
}
.wrapper ul li:hover > ul {
    display: block;
}
/* .logo {
    list-style: none;
    background: none;
    color: black;
    position: absolute;
    top: 4.2%;
    left: 1.8%;
} */
/* .heading {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 42px;
} */
/* .desc {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
} */
/* button {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-radius: none;
    padding: 16px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #B08D74;
    color: #fff;
} */
/* .img img {
    width: 440px;
} */
/* .aboutme {
    margin-top: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-45%) translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
} */
/* .img {
    margin: auto;
    display: block;
    position: absolute;
    z-index: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
  } 
img {
    opacity: 0;
    animation: appearimg 0.5s linear forwards;
    animation-delay: 6.9s;
}
.img:after {
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #272727;
    position: absolute;
    animation: rev-img 1.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 6.5s;
} */

/**************************************** Content ****************************************/
.content {
    position: relative;
    top: 100%;
    width: 125%;
    height: 3748px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
    /* height: 937px; */ /*for full screen height length*/
}
.about {
    position: absolute;
    background: #efe2ba;
    margin: auto;
    padding: 0;
    width: 100%;
    left: 0;
    top: 0px;
    height: 937px;
}
.about h2 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects {
    position: absolute;
    background: #eb8575;
    margin: auto;
    padding: 0;
    width: 100%;
    left: 0;
    top: 937px;
    height: 937px;
}
.projects h2 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact {
    position: absolute;
    background: #ebb85b;
    margin: auto;
    padding: 0;
    width: 100%;
    left: 0;
    top: 1874px;
    height: 937px;
}
.contact h2 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resume {
    position: absolute;
    background: #c5cbe3;
    margin: auto;
    padding: 0;
    width: 100%;
    left: 0;
    top: 2811px;
    height: 937px;
}
.resume h2 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* @keyframes rev-img {
    0% {
          left: 0;
          width: 0%;
    }
    50% {
          width: 440px;
          left: 0;
    }
    100% {
          left: 440px;
          width: 0;
    }
}
@keyframes appearimg {
    0% {
          opacity: 0;
    }
    100% {
          opacity: 1;
    }
} */
/* .about {
    position: relative;
    background: peachpuff;
    top: 2px;
    width: 100%;
    height: 800px;
    z-index: 1;
} */
/* img.center {
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */
/* .img img {
    width: 700px;
} */
/* img {
    width: 60%;
    display: block;
    margin: auto;
    transform: translateY(-50%);
    opacity: 0;
    animation: appearimg 0.1s linear forwards;
    animation-delay: 6.5s;
  } */
/* .img {
    width: 500px;
    position: fixed;
    z-index: 0;
    top: 30%;
    right: 40%; 
    transform: translateY(-50%);
}
img {
    display: block;
    margin: auto;
    opacity: 0;
    animation: appearimg 0.1s linear forwards;
    animation-delay: 6.5s;
}
.img:after {
    content: '';
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    background: #272727;
    position: absolute;
    animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 6s;
} */
/* .watch {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2em;
} */

/**************************************** Content Slideshow Feature ****************************************/
.slidershow{
  width: 1050px;
  height: 600px;
  overflow: hidden;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}
#r1-1:checked ~ .s1{
  margin-left: 0;
}
#r1-2:checked ~ .s1{
  margin-left: -20%;
}
#r1-3:checked ~ .s1{
  margin-left: -40%;
}
#r1-4:checked ~ .s1{
  margin-left: -60%;
}
#r1-5:checked ~ .s1{
  margin-left: -80%;
}
#r2-1:checked ~ .s2{
  margin-left: 0;
}
#r2-2:checked ~ .s2{
  margin-left: -20%;
}
#r2-3:checked ~ .s2{
  margin-left: -40%;
}
#r2-4:checked ~ .s2{
  margin-left: -60%;
}
#r2-5:checked ~ .s2{
  margin-left: -80%;
}
#r3-1:checked ~ .s3{
  margin-left: 0;
}
#r3-2:checked ~ .s3{
  margin-left: -20%;
}
#r3-3:checked ~ .s3{
  margin-left: -40%;
}
#r3-4:checked ~ .s3{
  margin-left: -60%;
}
#r3-5:checked ~ .s3{
  margin-left: -80%;
}

/**************************************** Responsive Support ****************************************/
@media only screen and (max-width: 768px) {
    body {
     width: 100%;
    }
    .loader {
        width: 300px;
        text-align: center;
    }
    .loader ul {
        display: inline-table;
    }
    .loader li {
        display: inline;
    }
    .media1 {
        position: fixed;
        bottom: 4%;
        right: 5%;
    }
    .media2 {
        position: fixed;
        bottom: 11%;
        right: 5%;
    }
    .media3 {
        position: fixed;
        bottom: 18%;
        right: 5%;
    }
    .media4 {
        position: fixed;
        bottom: 25%;
        right: 5%;
    }
    .logo {
        position: absolute;
        top: 3.2%;
        left: 5%;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
    }
}
@media only screen and (max-width: 1024px) {
  body {
   width: 90%;
  }
  .loader {
      text-align: center;
  }  
  .loader ul {
      display: inline-table;
  }
  .loader li {
      display: inline;
  }
  .media1 {
    position: fixed;
    bottom: 4%;
    right: 5%;
  }
  .media2 {
      position: fixed;
      bottom: 11%;
      right: 5%;
  }
  .media3 {
      position: fixed;
      bottom: 18%;
      right: 5%;
  }
  .media4 {
      position: fixed;
      bottom: 25%;
      right: 5%;
  }
  .logo {
    position: absolute;
    top: 3.2%;
    left: 5%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
   width: 80%;
  }
  .loader {
      text-align: center;
  }  
  .loader ul {
      display: inline-table;
  }
  .loader li {
      display: inline;
  }
}