html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    background: #fff;
}

.temp {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(assets/temp.gif) no-repeat 50% 50%;
    background-size: cover;
    animation: fadeOut 5s linear forwards;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
          opacity: 0;
    }
    40% {
          opacity: 0;
    }
    41% {
          opacity: 1;
    }
    91% {
          opacity: 1;
    }
    92% {
          opacity: 0;
    }
    100% {
          opacity: 0;
    }
}

.first-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #272727;
    animation: go-left 4s cubic-bezier(.74, .06, .4, .92) forwards;
    left: 0;
}

@keyframes go-left {
    0% {
          left: 0;
          width: 0%;
    }
    50% {
          left: 0;
          width: 100%;
    }
    100% {
          left: 100%;
          width: 0;
    }
}

.second-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #B08D74;
    animation: go-left 3.2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 3s;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loader ul li {
    display: inline-block;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0 7px;
    font-size: 26px;
    text-transform: uppercase;
    animation: loadNow 3.8s ease-in-out forwards;
    opacity: 0;
    transform: translateX(0px);
}

@keyframes loadNow {
    0% {
          opacity: 0;
          transform: translateX(80px);
    }
    20% {
          opacity: 1;
          transform: translateX(0px);
    }
    60% {
          opacity: 1;
          transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.loader ul li.row1:nth-child(1) {
    animation-delay: 1.1s;
}

.loader ul li.row1:nth-child(2) {
    animation-delay: 1.2s;
}

.loader ul li.row1:nth-child(3) {
    animation-delay: 1.3s;
}

.loader ul li.row1:nth-child(4) {
    animation-delay: 1.4s;
}

.loader ul li.row1:nth-child(5) {
    animation-delay: 1.5s;
}

.loader ul li.row1:nth-child(6) {
    animation-delay: 1.6s;
}

/* .loader ul li:nth-child(1) {
    animation-delay: 1.7s;
} */

.loader ul li.row2:nth-child(1) {
    animation-delay: 1.8s;
}

.loader ul li.row2:nth-child(2) {
    animation-delay: 1.9s;
}

.loader ul li.row2:nth-child(3) {
    animation-delay: 2.0s;
}

.loader ul li.row2:nth-child(4) {
    animation-delay: 2.1s;
}

.loader ul li.row2:nth-child(5) {
    animation-delay: 2.2s;
}

.loader ul li.row2:nth-child(6) {
    animation-delay: 2.3s;
}

.loader ul li.row2:nth-child(7) {
    animation-delay: 2.4s;
}

/* .loader ul li:nth-child(2) {
    animation-delay: 2.5s;
} */

.loader ul li.row3:nth-child(1) {
    animation-delay: 2.6s;
}

.loader ul li.row3:nth-child(2) {
    animation-delay: 2.7s;
}

.loader ul li.row3:nth-child(3) {
    animation-delay: 2.8s;
}

.loader ul li.row3:nth-child(4) {
    animation-delay: 2.9s;
}

.loader ul li.row3:nth-child(5) {
    animation-delay: 3.0s;
}

.loader ul li.row3:nth-child(6) {
    animation-delay: 3.1s;
}

.loader ul li.row3:nth-child(7) {
    animation-delay: 3.2s;
}


/* .third-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #F0F0F0;
    animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 6.2s;
} */

@keyframes expandNow {
    0% {
          width: 0%;
    }

    100% {
          width: 64%;
    }
}

a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    transform: scale(1.1); 
}

.wrapper {
    width: 500px;
    margin: 0 auto;
    position: fixed;
    right: -260px;
    margin-top: 1%;
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    background: none;
    width: 50px;
    right: -125px;
    padding: 5px;
    border: 0px solid #fff;
    height: 30px;
    top: -3px;
    line-height: 40px;
    text-align: center;
    float: left;
    color: black;
    font-size: 14px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.wrapper ul li li {
    top: -13px;
    right: 80px;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.wrapper ul li:hover {
    background: lightgrey;
}

.wrapper ul ul {
    display: none;
}

.wrapper ul li:hover > ul {
    display: block;
}

.logo {
    position: absolute;
    top: 4.2%;
    left: 1.8%;
    /* left: 0; */
    /* margin: 2em; */
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.content {
    position: absolute;
    width: 440px;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 42px;
}

.desc {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.desc p {
    margin-top: 0px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-radius: none;
    padding: 16px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #B08D74;
    color: #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img img {
    width: 440px;
}

.img {
    position: fixed;
    z-index: 0;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
}

img {
    opacity: 0;
    animation: appearimg 0.1s linear forwards;
    animation-delay: 6.5s;
}

.img:after {
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #272727;
    position: absolute;
    animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 6s;
}

@keyframes rev-img {
    0% {
          left: 0;
          width: 0%;
    }
    50% {
          width: 440px;
          left: 0;
    }
    100% {
          left: 440px;
          width: 0;
    }
}

@keyframes appearimg {
    0% {
          opacity: 0;
    }
    100% {
          opacity: 1;
    }
}

.media1 {
    position: fixed;
    bottom: 4%;
    right: 1.45%;
}

.media2 {
    position: fixed;
    bottom: 11%;
    right: 1.45%;
}

.media3 {
    position: fixed;
    bottom: 18%;
    right: 1.45%;
}

.media4 {
    position: fixed;
    bottom: 25%;
    right: 1.45%;
}

/* .media ul {
    list-style: none;
    right: 18px;
    bottom: 0;
    padding: 1.45px;
}

.media ul li {
    position: relative;
    font-size: 18px;
    margin: 24px 0;
} */

.media1:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}

.media2:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}

.media3:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}

.media4:hover {
    background: lightgrey;
    width: 40px;
    text-align: center;
    padding: 5px;
}

/* .watch {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2em;
} */

/* width is 100% when viewport < 768px*/
@media only screen and (max-width: 768px) {
    body {
     width: 100%;
    }

    .loader {
        width: 300px;
        text-align: center;
    }

    .loader ul {
        display: inline-table;
    }

    .loader li {
        display: inline;
    }

    /* .loader ul li.row1 {
        display: inline-block;
        position: relative;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .loader ul li.row2 {
        display: inline-block;
        position: relative;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .loader ul li.row3 {
        display: inline-block;
        position: relative;
        text-align: center;
        transform: translate(-50%, -50%);
    } */

    .media1 {
        position: fixed;
        bottom: 4%;
        right: 1.45%;
    }
    
    .media2 {
        position: fixed;
        bottom: 11%;
        right: 1.45%;
    }
    
    .media3 {
        position: fixed;
        bottom: 18%;
        right: 1.45%;
    }
    
    .media4 {
        position: fixed;
        bottom: 25%;
        right: 1.45%;
    }
  }
  
@media only screen and (min-width: 1024px) {
  body {
   width: 80%;
  }

  .loader {
      text-align: center;
  }  
  .loader ul {
      display: inline-table;
  }
  
  .loader li {
      display: inline;
  }
}

@media only screen and (max-width: 1024px) {
  body {
   width: 90%;
  }

  .loader {
      text-align: center;
  }  
  .loader ul {
      display: inline-table;
  }
  
  .loader li {
      display: inline;
  }
}