@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;0,700;1,600&display=swap');
@font-face {
    font-family: 'ikaros_sansregular';
    src: url('fonts/ikaros-regular-webfont.woff2') format('woff2'),
         url('fonts/ikaros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GTCinetypeRegular';
    src: url('fonts/GTCinetypeRegular.woff2') format('woff2'),
        url('fonts/GTCinetypeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TIMMONS NY';
    src: url('fonts/TIMMONSNY-Regular.woff2') format('woff2'),
        url('fonts/TIMMONSNY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'F37 Ginger';
    src: url('fonts/F37Ginger-Bold.woff2') format('woff2'),
        url('fonts/F37Ginger-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dumbnerd';
    src: url('fonts/Dumbnerd.woff2') format('woff2'),
        url('fonts/Dumbnerd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/****************************************************************************************************
********************************************** General **********************************************
****************************************************************************************************/
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}
body {
    background:#F5F5F5;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}
header {
    position: relative;
}
div {
    text-align: center;
}
a {
    font-family: 'GTCinetypeRegular'; 
    font-weight: normal;
    font-style: normal;
    color: #000;
    text-decoration: none;
}
footer {
    position: relative;
    height: 10vh;
    left: 50%;
    transform: translate(-50%,-10vh);
    z-index: 10;
    width: 20vw;
    border-radius: 0.4rem;
}
ion-icon {
    color: #000;
    transition: 0.5s;
}
ion-icon.icons-home-page {
    color: #000;
}
ion-icon.icons-about-page {
    color: #f13c20;
}
ion-icon:hover {
    opacity: 0.7;
    transition: 0.5s;
}
ion-icon#icons-about-page:hover {
    opacity: 0.7;
    transition: 0.5s;
}

/****************************************************************************************************
********************************************* Home-page *********************************************
****************************************************************************************************/
.header-title {
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.header-title a {
    font-size: 1.8em; 
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-right: -0.2em;
    white-space: nowrap;
}

#header-title-home {
    transition: 0.5s;
    color: #000;
}

#header-title-about {
    transition: 0.5s;
    color: #f13c20;
}

.mobile-header-title {
    display: none;
}
.mobile-header-title {
    position: fixed;
    top: 3vh;
    left: 10%;
    /* transform: translateX(-50%); */
    z-index: 10;
}
.mobile-header-title a {
    font-family: 'Dumbnerd';
    font-size: 1.8em; 
    font-weight: 700;
    letter-spacing: 0.5vw;
}

#mobile-header-title-home {
    transition: 0.5s;
    color: #000;
}
#mobile-header-title-about {
    transition: 0.5s;
    color: #f13c20;
}
#socials-link {
    transition: 0.5s;
}
#socials-link-about {
    transition: 0.5s;
    color: #f13c20;
}





.socials {
    position: fixed;
    right: 10%;
    top: 3vh;
    font-family: 'GTCinetypeRegular';
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.15em;
    z-index: 10;
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: #fff;
    overflow-x: hidden;
    transition: .5s;
}
.overlay-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 6;
}
.overlay a {
    display: block;
    font-size: 4vh;
    top: 2%;
    font-weight: 800;
    right: 10%;    
}
.overlay .closebtn {
    position: absolute;
    z-index: 6;
}
.overlay-links {
    padding: 1.5vh 0 1.5vh 0;
}
.wrapper-footer {
    position: relative;
    width: 60vw;
    left: 50%;
    padding-top: 10vh;
    transform: translateX(-50%);
    font-family: 'GTCinetypeRegular';
    font-size: 0.7em;
    font-weight: 500;
}





/* 
.mobile-socials {
    position: fixed;
    top: 3vh;
    right: 10%;
    z-index: 10;
}
input[type="checkbox"] {
    display: none;
}
.mobile-socials .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    clip-path: circle(25px at calc(0% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}
#active:checked~.wrapper {
    clip-path: circle(75%);
}
.wrapper .inner {
    position: relative;
    max-width: 50vw;
    display: table;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .list {
    padding-bottom: 5vh;
  }
  
  .menu-btn {
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }
  
  #active:checked~.menu-btn {
    background: #fff;
    color: #4158d0;
  }
  
  #active:checked~.menu-btn i:before {
    content: "\f00d";
  }
  
  .wrapper ul {
    list-style: none;
    text-align: center;
  }
  
  .wrapper ul li {
    margin: 0 0;
  }
  
  .wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  } */
















.nav-menu {
    position: fixed;
    left: 0;
    width: 15vw;
    display: flex;
    bottom: 3%;
    margin-left: 3%;
    z-index: 10;
}
.nav-menu a {
    font-size: 1rem; 
    font-weight: 700;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
}

.menu-item {
    padding-right: 15%;
}

.nav-menu-home {
    transition: 0.5s;
    color: #000;
    letter-spacing: 0.15em;
    margin-right: -0.15em;
}
.mobile-nav-menu-home {
    transition: 0.5s;
    color: #000;
    letter-spacing: 0.15em;
    margin-right: -0.15em;
}

.nav-menu-about {
    transition: 0.5s;
    color: #f13c20;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
}
.mobile-nav-menu-about {
    transition: 0.5s;
    color: #f13c20;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
}

#about-nav-menu {
    display: none;
}

.mobile-nav-menu {
    display: none;
}
.mobile-nav-menu {
    position: fixed;
    text-align: center;
    /* justify-content: center; */
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    bottom: 3%;
    z-index: 10;
}
.mobile-nav-menu ul {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    text-align: left;
    /* margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center; */
    /* left: 50%;
    transform: translateX(-50%); */
    list-style-type: none;
    white-space: nowrap;
}
.mobile-nav-menu li {
    display: inline;
    padding: 0 5vw 0 5vw;
}
.mobile-nav-menu a {
    font-size: 0.8em;
    font-weight: 700;
}




.connect-icons {
    position: fixed;
    right: 0;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    bottom: 3%;
    margin-right: 3%;
    z-index: 10;
}

.linkedin, .facebook, .instagram, .github {
    padding-left: 30%;
}

.clip-text {
    position: absolute;
    height: 100%;
    width: 100%;
    clip: rect(0, auto, auto, 0); 
}

.background-home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#f5f5f5;
    z-index: 5;
}
.background-home a {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.75vh) * 100);
    color: #8cd3ff;
}

.mobile-background-home {
    display: none;
}
.mobile-background-home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#f2f2f2;
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.35vh) * 100);
    color: #fff;
    z-index: 5;
}
.mobile-background-home-socials {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#fff;
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.35vh) * 100);
    color: #f2f2f2;
    z-index: 5;
}







.home-title-background {
    position: fixed;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}
.about-title-background {
    position: fixed;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}
.home-title-upper {
    transform: translateX(-10%);
}
.home-title-lower {
    transform: translateX(10%);
}
.home-title-upper-socials {
    transform: translateX(-9%);
}
.home-title-lower-socials {
    transform: translateX(15%);
}
.about-title-upper {
    transform: translateX(-10%);
}
.about-title-lower {
    transform: translateX(10%);
}

.home-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 60vw; */
    z-index: 6; 
}
.home-intro a {
    font-family: 'GTCinetypeRegular'; 
    font-weight: 800;
}

.mobile-home-intro {
    display: none;
}
.mobile-home-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 60vw; */
    z-index: 6; 
}
.mobile-home-intro a {
    font-family: 'GTCinetypeRegular'; 
    font-weight: 800;
}
.mobile-home-intro .intro-top {
    position: relative;
    /* transform: translateY(-3vh); */
}
.mobile-home-intro .intro-bottom {
    position: relative;
    /* transform: translateY(3vh); */
}
.mobile-home-intro #intro-title {
    font-size: 8vh;
}
.mobile-home-intro #intro-greetings {
    font-size: 5vh;
}


.about-link {
  display: inline-block;
  position: relative;
}
.about-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.about-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#intro-title {
    font-size: 5vw;
}
#intro-greetings {
    font-size: 3.5vw;
}
#intro-desc {
    font-size: 3vw;
}

.bounce-animation {
	display: block;
	text-align: center;
}
.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.gradient-text{
  background: linear-gradient(to right, #000000,#7e7a7a, #000000);
  background-size: 200% 200%;
  animation: gradient 2.5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  display:block;
  text-align:center;
  transition: color .2s ease-in-out;
}
.gradient-text:hover{
  color:rgba(0,0,0,0);
}
@keyframes gradient { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

#hidden-click-me {
    position: fixed;
    width: fit-content;
    transform: translate(100%, -120%);
    z-index: 6; 
    font-size: 6vw;
    display: none;
}
#hidden-click-me a {
    font-size: 3vw;
    font-family: 'GTCinetypeRegular'; 
    font-weight: 800;
}
#bounce:hover + #hidden-click-me {
    display:block;
}

.scroll-icon {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 40%);
    z-index: 6; 
}
.scroll-icon img {
    margin-top: 10%;
    height: 6vh;
}






.background-projects {
    position: relative;
    height: 800vh;
    background-color: bisque;
}
.background-projects a {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.75vh) * 100);
    color: rgb(208, 44, 44);
}

.projects-gallery {
    position: absolute;
    left: 50%;
    top: 170vh;
    transform: translate(-50%, -50%);
    width: calc(100vw - (100vw - 100%));
}
.projects-gallery2 {
    position: absolute;
    left: 50%;
    top: 420vh;
    transform: translate(-50%, -50%);
    width: calc(100vw - (100vw - 100%));
}
.projects-gallery3 {
    position: absolute;
    left: 50%;
    top: 670vh;
    transform: translate(-50%, -50%);
    width: calc(100vw - (100vw - 100%));
}
/* .projects-gallery.fixed {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
} */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 2px dashed rgba(114, 186, 94, 0.35); */
    height: 180vh;
    width: calc(100vw - 1em);
    /* background: rgba(114, 186, 94, 0.5); */
}
  
.item {
    position: sticky;
}
  /* .item img {
      width: 80%;
      height: 80%;
  } */
  
.card-container1 {
    transform: translateY(0vh);
    /* bottom: -71vh; */
    bottom: -70.5vh;
    align-self: flex-end;
    margin: 0 0 0 6vw;
}
.card-container2 {
    /* transform: translateY(30vh); */
    bottom: -70.5vh;
    align-self: flex-end;
    margin: 0 6vw 0 0;
}
.card-container3 {
    transform: translateY(0vh);
    bottom: -80.5vh;
    align-self: flex-end;
    margin: 0 0 0 6vw;
}
.card-container4 {
    /* transform: translateY(30vh); */
    bottom: -80.5vh;
    align-self: flex-end;
    margin: 0 6vw 0 0;
}
.card-container5 {
    transform: translateY(0vh);
    bottom: -80.5vh;
    align-self: flex-end;
    margin: 0 0 0 6vw;
}
.card-container6 {
    /* transform: translateY(30vh); */
    bottom: -70.5vh;
    align-self: flex-end;
    margin: 0 6vw 0 0;
}


  
.project-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    perspective: 1000px;
    
}
.card {
    transform-style: preserve-3d;
    height: calc(0.6*50vw);
    width: 35vw;
    display: table;
    padding: 0;
    background-color: rgba(255, 255, 255, .15);   
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05), 0px 0px 50px rgba(0, 0, 0, 0.05);
}
.card.tall {
    height: calc(0.8*50vw);
    width: 35vw;
}
.card .inner {
    text-align:center;
    display:table-cell;
    vertical-align: middle;
}

.project-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-image.img-1 img {
    width: 30vw;
    height: auto;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.project-image.img-2 img {
    width: 30vw;
    height: auto;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.project-image.img-3 img {
    width: auto;
    height: calc(0.6*50vw);
    z-index: 2;
    transition: all 0.75s ease-out;
}
.project-image.img-4 img {
    width: auto;
    height: calc(0.6*50vw);
    z-index: 2;
    transition: all 0.75s ease-out;
}
.project-image.img-5 img {
    width: auto;
    height: calc(0.6*50vw);
    z-index: 2;
    transition: all 0.75s ease-out;
}
.project-image.img-6 img {
    width: 30vw;
    height: auto;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.info h1 {
    font-family: 'GTCinetypeRegular';
    font-size: 2.3vw;
    font-weight: bolder;
    margin: 2vh 0 0 0;
    transition: all 0.75s ease-out;
}
.info h3 {
    font-family: 'GTCinetypeRegular';
    font-size: 1vw;
    margin: 0;
    margin: 2vh 0 0 0;
    /* padding: 2rem 0rem; */
    color: #242121;
    font-weight: bold;
    transition: all 0.75s ease-out;
}
  



/* .column.chat img {
    position: relative;
    left: 30%;
    top: 80%;
    transform: translate(-50%, -50%);
}
.column.event-manager img {
    position: relative;
    left: 70%;
    top: 80%;
    transform: translate(-50%, -50%);
} */

.mobile-background-projects {
    display: none;
}
.mobile-background-projects {
    position: relative;
    height: 420vh;
    width: 100vw;
    background-color: bisque;
    z-index: 5;
}
.mobile-background-projects a {
    position: fixed;
    right: -6vw;
    top: 50%;
    transform-origin: center center;
    transform:  rotate(90deg) translateX(-25%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.1vh) * 100);
    color: rgb(208, 44, 44);
}
.mobile-projects-gallery {
    position: absolute;
    width: 65vw;
    left: 7vw;
    top: 25vh;
}
.mobile-item {
    padding-bottom: 15vh;
}
.mobile-item img {
    width: 100%;
    height: auto;
}
.mobile-item .project-title {
    text-align: left;
}
.mobile-item .project-title h1 {
    font-family: 'GTCinetypeRegular';
    font-size: 13vw;
    font-weight: bolder;
    margin: 0;
}


.background-collections {
    position: relative;
    height: 260vh;
    background-color:rgb(87, 194, 162);
}
.background-collections a {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.75vh) * 100);
    color: rgb(76, 81, 214);
    z-index: 0;
}

.collections-intro {
    top: 27%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -27%);
}
.collections-intro a {
    width: 80vw;
    color: #fff;
    font-family: 'Poppins';
    font-size: 2vw;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    min-height: 100vh;
    grid-gap: 2rem;
    position: absolute;
    top: 33%;
}

.img-container {
    overflow: hidden;
    z-index: 10;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

.modal {
    background: rgb(0,0,0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
    z-index: 11;
}
.modal.open {
    opacity: 1;
    pointer-events: all;
    z-index: 11;
}
.full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}
.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    color: #000;
    background-color:  rgba(255, 255, 255, .55);
    padding: 0 1vw 0 1vw;
    font-size: 1.5vw;
    font-family: 'GTCinetypeRegular';
    font-weight: bolder;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}


.mobile-background-collections {
    display: none;
}
.mobile-background-collections {
    position: relative;
    height: 300vh;
    width: 100vw;
    background-color: rgb(87, 194, 162);
    z-index: 5;
}
.mobile-background-collections a {
    position: fixed;
    left: -12vw;
    top: 50%;
    transform-origin: center center;
    transform:  rotate(-90deg) translateX(20%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.1vh) * 100);
    color: rgb(76, 81, 214);
}
.mobile-collections-gallery {
    position: absolute;
    width: 65vw;
    right: 7vw;
    top: 25vh;
}
.mobile-item {
    padding-bottom: 15vh;
}
.mobile-item img {
    width: 100%;
    height: auto;
}
.mobile-item .image-title {
    text-align: right;
}
.mobile-item .image-title h1 {
    font-family: 'GTCinetypeRegular';
    font-size: 4vw;
    font-weight: bolder;
    margin: 0;
}

footer .rocket {
    font-size: 3vh;
    height: 4vh;
}
footer .rocket i:hover {
    transform: rotate(-45deg);
    font-size: 3.7vh;
    transition: 0.5s ease-out;
}
.fa-rocket-launch.about {
    color: #6474e5;
}
.fa-rocket-launch.home {
    color: rgb(76, 81, 214);
}


footer .copyright {
    align-items: center;
    vertical-align: middle;
    line-height: 4vh;
}
footer .copyright a {
    font-weight: 600;
}
footer .copyright.about a {
    color: #6474e5;
    font-weight: 600;
}
footer .copyright.home a {
    color: rgb(76, 81, 214);
    font-weight: 600;
}


/****************************************************************************************************
******************************************** About page *********************************************
****************************************************************************************************/

.background-about {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#2c9fdd;
    z-index: 5;
}

.background-about a {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.75vh) * 100);
    color: #f13c20;
}

.mobile-background-about {
    display: none;
}
.mobile-background-about {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#2c9fdd;
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.35vh) * 100);
    color: #f13c20;
    z-index: 5;
}
.mobile-background-about .about-title-background {
    opacity: 0.5;
}
.mobile-background-about .about-title-upper {
    transform: translateX(-15%);
}
.mobile-background-about .about-title-lower {
    transform: translateX(10.5%);
}

/* .mobile-background-about .background-title {
    position: fixed;
    left: 2.5%;
    top: 50%;
    transform-origin: center center;
    transform:  rotate(-90deg) translateX(39.5%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.1vh) * 100);
    color: #f13c20;
} */


.mobile-background-about .content {
    position: fixed;
    right: 2.5%;
    top: 30%;
    transform-origin: center center;
    transform:  rotate(90deg);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.1vh) * 100);
    color: #f13c20;
}

.background-about-content {
    position: relative;
    height: 300vh;
    width: 100vw;
    background-color:#efe2ba;
    z-index: 5;
}

.background-about-content a {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.75vh) * 100);
    color: #f13c20;
}

.mobile-background-about-content {
    display: none;
}
.mobile-background-about-content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#efe2ba;
    z-index: 5;
}
.mobile-background-about-content a {
    position: fixed;
    left: 1.2vw;
    top: 50%;
    transform-origin: center center;
    transform:  rotate(-90deg) translateX(39.5%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.1vh) * 100);
    color: #f13c20;
}





.about-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    /* width: 60vw; */
    z-index: 6; 
}

.about-intro a {
    font-family: 'GTCinetypeRegular';
    font-size: 4vw;
    font-weight: 600;
}

.mobile-about-intro {
    display: none;
}
.mobile-about-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* width: 60vw; */
    z-index: 6; 
}
.mobile-about-intro a {
    font-family: 'GTCinetypeRegular';
    font-size: 2.5em;
    font-weight: 600;
}

.about-page-contact {
    position: relative;
    height: 100vh;
    background-color: #c6fad2;
}

.about-page-contact a {
    position: fixed;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.4vh) * 100);
    /* color: #85d89c; */
    color: #6474e5;
}

.contact-email {
    position: fixed;
    flex: 50%;
    /* background-color: #AA7269; */
    /* transform: translate(50vw,10vh); */
    left: 30%;
    top: 70%;
    /* transform: translate(-50%, -50%); */
    transition: 0.5s;
    z-index: 6;
}

.contact-email .inner {
    position: relative;
    transition: all .2s ease-in-out; 
}

.contact-email .inner a{
    background-color: #34a853;
    white-space: nowrap;
    padding: 0.8vh 0.8vw 0.8vh 0.8vw;
    border-radius: 0.2em;
    position: absolute;
    font-size: 2.5vw;
    letter-spacing: 3px;
    color: #f6ffee;
}

.contact-email:hover {
    transform: scale(1.1);
}

.mobile-contact-email {
    position: fixed;
    flex: 50%;
    /* background-color: #AA7269; */
    /* transform: translate(50vw,10vh); */
    left: 25%;
    top: -5%;
    /* transform: translate(-50%, -50%); */
    transition: 0.5s;
    z-index: 6;
}

.mobile-contact-email .inner {
    position: relative;
    transition: all .2s ease-in-out; 
}

.mobile-contact-email .inner a{
    background-color: #34a853;
    white-space: nowrap;
    padding: 0.8vh 0.8vw 0.8vh 0.8vw;
    border-radius: 0.2em;
    position: absolute;
    font-family: 'TIMMONS NY';
    font-size: 8.5vw;
    letter-spacing: 3px;
    color: #f6ffee;
}




.contact-form {
    position: fixed;
    flex: 50%;
    max-width: 30vw;
    max-height: 60vh;
    /* background-color: #AA7269; */
    /* transform: translate(50vw,10vh); */
    left: 70%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    padding: 5vh 0vw 5vh 4vw;
}

.contact-form p {
    font-family: 'TIMMONS NY';
    font-size: 3.5vw;
    height: 1vh;
    color: #6271e4;
    padding-bottom: 2vh;
    margin-left: 1vw;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}
  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(16.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-10.0deg) }
     30% { transform: rotate(16.0deg) }
     40% { transform: rotate(-6.0deg) }
     50% { transform: rotate(12.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

.emoji {
    font-size: 4vw;
}

.contact-wrap {
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 2vh 4vw 2vh 1vw;
}

.contact-in .form {
	width: 100%;
	height: auto;
}

.contact-in-input {
    max-width: 27.75vw;
    min-width: 27.75vw;
	height: 5vh;
	margin-bottom: 2.5vh;
	border: 0.2vw solid #6474e5;
	outline: none;
	padding-left: 0.3vw;
	background: transparent;
	color: #6474e5;
	font-size: 0.85vw;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #6474e5;
}

.contact-in-textarea {
    max-width: 27.75vw;
    min-width: 27.75vw;
    /* max-width: 30vw;
    min-width: 30vw; */
    height: 20vh;
    min-height: 20vh;
    max-height: 29vh;
	margin-bottom: 2.5vh;
	border: 0.2vw solid #6474e5;
	outline: none;
	padding-top: 1.5vh;
	padding-left: 0.3vw;
	background: transparent;
	color: #6474e5;
	font-size: 0.85vw;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #6474e5;
}

.contact-form-button {
    max-width: 100%;
    min-width: 100%;
    height: 5vh;
    border: 0.2vw solid #6474e5;
	outline: none;
    background: transparent;
    color: #6474e5;
	font-size: 0.7vw;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact-form-button:hover {
    background-color: #6474e5;
    color: #c6fad2;
}

/****************************************************************************************************
********************************************** Cursors **********************************************
****************************************************************************************************/
.cool-face-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='125' viewport='0 0 100 100' style='fill:black;font-size:68px;'><text y='50%'>😎</text></svg>")
        16 0,
      auto;
}
.pointer-finger-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='125' viewport='0 0 100 100' style='fill:black;font-size:68px;'><text y='50%'>🖕</text></svg>")
        16 0,
      auto;
      transition-duration: 2s;
}


























.mobile-about-page-contact .about-title-background {
    opacity: 0.2;
    letter-spacing: 1em;
}
.mobile-about-page-contact {
    display: none;
}
.mobile-about-page-contact {
    position: relative;
    height: 100vh;
    background-color:#c6fad2;
    z-index: 5;
}
.mobile-background-about-contact {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color:#c6fad2;
    z-index: 5;
}
.about-title-upper-contact {
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.35vh) * 100);
    color: #6271e4;
    transform: translateX(0%);
}
.about-title-lower-contact {
    font-family: 'TIMMONS NY';
    font-size: calc(var(--vh, 0.35vh) * 100);
    color: #6271e4;
    transform: translateX(3%);
}


.mobile-contact-form {
    position: fixed;
    flex: 100%;
    width: 80%;
    max-height: 60vh;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* padding: 5vh 0vw 5vh 4vw; */
}
.mobile-contact-form p {
    font-family: 'TIMMONS NY';
    font-size: 5em;
    height: 1vh;
    color: #000000;
    padding-bottom: 2vh;
    /* margin-left: 10vw; */
}
.mobile.wave.emoji {
    font-size: 0.9em;
}
.mobile-contact-in-input {
    max-width: 95%;
    min-width: 95%;
	height: 4vh;
	margin-bottom: 2.5vh;
	border: 0.5vw solid #000000;
	outline: none;
	padding-left: 3vw;
	background: transparent;
	color: #000000;
	font-size: 3.5vw;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.mobile-contact-in-input::placeholder {
	color: #000000;
}
.mobile-contact-in-textarea {
    max-width: 95%;
    min-width: 95%;
    height: 15vh;
    min-height: 5vh;
    max-height: 15vh;
	margin-bottom: 2vh;
	border: 0.5vw solid #000000;
	outline: none;
    padding-left: 3vw;
    padding-top: 1vh;
	background: transparent;
	color: #000000;
	font-size: 3.5vw;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.mobile-contact-in-textarea::placeholder {
	color: #000000;
}

.mobile-contact-form-button {
    max-width: 101%;
    min-width: 101%;
    height: 4vh;
    border: 0.5vw solid #000000;
	outline: none;
    background: transparent;
    color: #000000;
	font-size: 3.7vw;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.mobile-email {
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    /* background-color:rgba(44, 159, 221, 0.4); */
    
    
    z-index: 11;
}
.mobile-email a {
    background-color: rgba(255, 93, 18, 0.4);
    border-radius: 0.5em;
    padding: 10px 20px 10px 20px;
    opacity: 1;
    font-size: 1.2em;
    font-weight: 700;
}

.mobile-email p {
    font-family: 'GTCinetypeRegular';
    font-size: 1em;
    font-weight: 600;
}






































/* ------------------ iPhone X ------------------ */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 912px) { 
    .header-title {
        display: none;
    }
    .mobile-header-title {
        display: block;
    }

    .nav-menu {
        display: none;
    }
    .mobile-nav-menu {
        display: flex;
    }

    .background-home {
        display: none;
    }
    .background-projects {
        display: none;
    }
    .background-collections {
        display: none;
    }
    .background-about {
        display: none;
    }
    .background-about-content {
        display: none;
    }
    .about-page-contact {
        display: none;
    }
    .home-intro {
        display: none;
    }
    .about-intro {
        display: none;
    }



    .mobile-background-home {
        display: block;
    }
    .mobile-background-projects {
        display: block;
    }
    .mobile-background-collections {
        display: block;
    }

    .mobile-background-about {
        display: block;
    }
    .mobile-background-about-content {
        display: block;
    }
    .mobile-about-page-contact {
        display: block;
    }
    .mobile-home-intro {
        display: block;
    }
    .mobile-about-intro {
        display: block;
    }


    .connect-icons {
        display: none;
    }

    .scroll-icon {
        display: none;
    }
    .socials {
        display: block;
    }
    
    .rocket {
        display: none;
    }
    .copyright {
        display: none;
    }
    

}