@font-face {
    font-family: 'TIMMONS NY';
    src: url('TIMMONSNY-Regular.woff2') format('woff2'),
        url('TIMMONSNY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

